*,
* ::before,
* ::after {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: var(--black-primary);
  color: var(--text-primary);
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}
